<div class="content_login">
  <div class="conteudo_login">
      <div class="dados_empresa">
          <img [src]="mostrarImagem()" width="100%" height="100%">
      </div>
      <div class="login">
        @if(!config.novaSenha && !config.recuperarSenha){
          <a class="voltar_login"
                    (click)="sair()">
                    <mat-icon class="mat-icon">keyboard_return_24</mat-icon>
          </a>
        }
        <div class="formulario">
            <p class="titulo">{{config.titulo}}</p>
            <form [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()">
              @if(config.recuperarSenha){
                <div class="form-input">
                  <label>E-mail</label>
                  <input required="true" formControlName="email" type="text">
                </div>
              }
              @if(!config.novaSenha && !config.recuperarSenha){
                <div class="form-input">
                  <label>CPF / Email / Nome</label>
                  <input required="true" formControlName="login" type="text">
                </div>

              }
              @if(config.novaSenha || !config.recuperarSenha){
                <div class="form-input">
                  <label>Senha</label>
                  <div class="senha_icone">
                  <input required="true"
                          formControlName="senha"
                          [type]="hide ? 'password' : 'text'">
                          <mat-icon class="mat-icon"
                                (click)="clickEvent($event)">
                                {{hide ? 'visibility_off' : 'visibility'}}
                          </mat-icon>
                  </div>
                </div>
              }
              @if(config.novaSenha){
                <div class="form-input">
                  <label>Confirmar Senha</label>
                  <div class="senha_icone">
                  <input required="true"
                          formControlName="confirmarSenha"
                          [type]="hide ? 'password' : 'text'">
                        <mat-icon class="mat-icon"
                                  (click)="clickEvent($event)">
                                  {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                  </div>
                </div>
              }
              <button class="entrar"
                      mat-button type="submit">
                {{config.button}}
              </button>
            </form>
            @if(!config.novaSenha && !config.recuperarSenha){
              <p class="esqueceu_senha">Esqueceu a senha? 
                  <a class="clique_aqui"
                      (click)="enviarEmail()">clique aqui!
                  </a>
              </p>
            }
            @if(config.novaSenha || config.recuperarSenha){
              <a class="voltar_login"
                  (click)="voltar()">
                  <mat-icon class="mat-icon">keyboard_return_24</mat-icon>
              </a>
            }
        </div>
      </div>
  </div>
</div>