.content_cadastro_imovel{
    width: 100%;
    min-height: 600px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    .conteudo{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button{
            width: 100%;
            display: flex;
            .voltar{
                margin-right: 10px;
            }
        }
        form{
            display: flex;
            justify-content: space-between;
            width:100%;
            .coluna{
                width: 40%;
            }
            div{
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                span{
                    color: red;
                }
                .error{
                    color: red;
                    font-size: 12px;
                    margin: 0px;
                }
                label{
                    width: 100%;
                    font-size: 14px;
                    padding-top: 8px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: unset;
                }
                input, textarea{
                    border-radius: 2px;
                    min-height: 40px;
                    border: 1px solid rgba(226, 228, 232, 0.8);
                    flex: 1 1 0%;
                    outline: none;
                    max-width: 100%;
                    font-size: inherit;
                    color: inherit;
                    min-width: 1px;
                    font-family: inherit;
                    line-height: 1.15em;
                    letter-spacing: 0.3px;
                    word-spacing: -0.75px;
                    padding-left: 5px;
                    color: #818181;
                }
                input::placeholder {
                    color: rgb(185, 183, 183); /* Cor desejada para o placeholder */
                    opacity: 1; /* Para garantir que a cor aplicada seja visível */
                } 
                .icone_add{
                    background-color: green;
                    color: white!important;
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5px;
                }
                .icone_add:hover{
                    cursor: pointer;
                    background-color: rgb(69, 177, 69);
                }
            }
            .numbers{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .input_number{
                    width: 130px;
                }
            }
            .area{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div{
                    display: flex;
                    flex-direction: column;
                    .input_number_valor{
                        width: 130px;
                    }
                }
            }
            .example-section{
                display: flex;
                .example-margin{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            .select{
                label{
                    width: 100%;
                    font-size: 14px;
                    padding-top: 8px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: unset;
                }
                mat-select {
                    width: 100%;
                    height: 40px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    box-sizing: border-box;
                    border: 1px solid rgba(226, 228, 232, 0.8);
                    border-radius: 3px;
                    color: #818181;
                    font-family: "Montserrat";
                    background: white;
                    color: rgb(60, 72, 88)!important;
                }
                .add_cadastro{
                    width: 90%;
                }
                select option{
                    color: #465261;
                    font-family: "Montserrat";
                }  
            }
            .adicionar_imagens{
                .imagens{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    color: #176EC8;
                    mat-icon{
                        margin-right: 10px;
                        color: #176EC8;
                    }
                }
                .imagens:hover{
                    color: #465261;
                    mat-icon{
                        color: #465261;
                    }
                }
            }
            .spinner_acao{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .alinhamento_input_imovel{
        display: flex !important;
        flex-direction: row !important;
        align-items: center!important;
        margin-top: 0px!important;
    }
}
