<div class="content_toolbar">
    <div class="perfil">
        @if(imagemUrl !== ''){
            <img class="imagemUsuario" [src]="imagemUrl" width="100" height="100">
        }@else {
            <img class="imagem" width="100" height="100">
        }
    </div>
    <div class="dados_usuario">
        <p class="usrLogin">{{nome_usuario}}</p>
        <p class="role">{{role}}</p>
    </div>
    <div>
        <div class="icone_menu" [matMenuTriggerFor]="menu"><mat-icon fontIcon="segment"></mat-icon></div>
    </div>
</div>    
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="meuCadastro()">Meu Cadastro</button>
    <button mat-menu-item (click)="sair()">Sair</button>
  </mat-menu>
