<div id="content_sobre">
    <div class="imagem_fundo"></div>
    <div class="conteudo_sobre">
        <h3>Sobre Viva Morada</h3>
        <p> A Viva Morada é uma empresa especializada na venda e locação de imóveis, comprometida 
            em transformar sonhos em realidade. Com uma equipe experiente e dedicada, atuamos 
            no mercado imobiliário com foco em confiança, transparência e agilidade.
            Nosso portfólio conta com uma ampla variedade de imóveis residenciais e comerciais, 
            oferecendo soluções que atendem diferentes perfis e necessidades.</p>

        <p> Buscamos sempre proporcionar a melhor experiência para nossos clientes, desde o primeiro 
            contato até a entrega das chaves.
            Na Viva Morada, entendemos que cada imóvel tem uma história, e queremos fazer parte da sua.
            Nosso compromisso é ajudar você a encontrar o lar ideal ou o investimento certo com segurança e tranquilidade.
            Com atendimento personalizado e profundo conhecimento do mercado, somos referência na região.</p>

        <p>Seja para comprar, vender ou alugar, conte com a Viva Morada.
            Seu novo começo começa aqui.
        </p>
        <div class="quaidades_icones">
            <div><mat-icon class="detail-icon">check_circle</mat-icon>Atendimento Personalizado</div>
            <div><mat-icon class="detail-icon">check_circle</mat-icon>Transparência</div>
            <div><mat-icon class="detail-icon">check_circle</mat-icon>Segurança</div>
            <div><mat-icon class="detail-icon">check_circle</mat-icon>Resultados</div>        
        </div>
    </div>
</div>