#content_sobre{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo{
        width: 100%;
        h1{
            z-index: 2;
            font-size: 30px;
            margin: 0px 60px 30px;
            text-align: left;
        }
    }
    .conteudo{
        width: 50%;
        display: flex;
        flex-direction: column;
        unicode-bidi: isolate;
        margin-bottom: 100px;
        p{
            font-family: Montserrat, "Trebuchet MS", serif;
            font-size: 14px;
            color: rgb(60, 72, 88);
            margin-bottom: 10px;
            a{
                color: rgb(27, 116, 233);
                cursor: pointer;
            }
        }
    }
    .imagem_fundo{
        width: 100%;
        height: 300px;
        background-image: url("../../../../../assets/home/imagem_final_home.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
}
@media(max-width: 700px) {
    #content_sobre{
        height: auto!important;
    }
    .conteudo{
        width: 80%!important;
    }
    .imagem_fundo{
        display: none!important;
    }
}