#content_contato{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    .contato_titulo{
        width: 70%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
            font-size: 30px;
            margin: 0px;
        }
        p{
            margin-bottom: 50px;
        }
        .contato_detalhes{
            width: 100%;
            display: flex;
            margin: auto;
            justify-content: center;
            .datelhe_endereco{
                width: 50%;
                h5{
                    font-size: 20px;
                }
                .detail-item{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    mat-icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 25px;
                        padding: 5px;
                        height: 100%;
                        margin-right: 10px;
                        background-color: #0E2442;
                        border-radius: 10px;
                        color: white;
                    }
                    .detail-title{
                        font-size: 20px;
                    }
                    .detail-text{
                        font-size: 16px;
                    }

                }

            }
            .conteudo_contato{
                width: 50%;
            }
        }
    }
    .conteudo_contato{
  
        margin-bottom: 50px;
        .form{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            div{
                display: flex;
                flex-direction: column;
                width: 100%;
                label{
                    width: 100%;
                    font-size: 14px;
                    padding-top: 8px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: unset;
                    color: white;
                }
                input, textarea{
                    border-radius: 2px;
                    min-height: 40px;
                    border: 1px solid rgba(226, 228, 232, 0.8);
                    flex: 1 1 0%;
                    outline: none;
                    max-width: 100%;
                    font-size: inherit;
                    color: inherit;
                    min-width: 1px;
                    font-family: inherit;
                    line-height: 1.15em;
                    letter-spacing: 0.3px;
                    word-spacing: -0.75px;
                    padding-left: 5px;
                }
                input::placeholder {
                    color: rgb(185, 183, 183); /* Cor desejada para o placeholder */
                    opacity: 1; /* Para garantir que a cor aplicada seja visível */
                  }
            }
            .error{
                color: red;
                font-size: 12px;
                margin: 0px;
            }
            .buttons{
                display: flex;
                margin: auto;
                width: 100%;
                justify-content: space-between!important;
                flex-direction: row;
                margin: 10px 0 10px 0;
                .button_email{
                    background-color: #0E2442;
                    color: white;
                    border-radius: 3px;
                    width: 45%;
                }
                .button_whatsapp{
                    background-color: rgb(77, 158, 77);
                    color: white;
                    border-radius: 3px;
                    width: 45%;
                    span{
                        display: flex;
                        align-items: center;
                        svg{
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 950px) {
    .conteudo{
        width: 80%!important;
    }
}