<div class="content_acesso_sistema">
    <div class="menus">
        <div>
            <div class="menu" (click)="navegar('detalhe/imovel')">
                <div class="icone"><mat-icon fontIcon="real_estate_agent"></mat-icon></div>
                <div class="titulo"><h2>Imóvel</h2></div>
            </div>
            @if(permissao()){
                <div class="menu" (click)="navegar('detalhe/usuario')">
                    <div class="icone"><mat-icon fontIcon="account_circle"></mat-icon></div>
                    <div class="titulo"><h2>Usuário</h2></div>
                </div>
            }
            <div class="menu" (click)="navegar('detalhe/endereco')">
                <div class="icone"><mat-icon fontIcon="location_on"></mat-icon></div>
                <div class="titulo"><h2>Endereço</h2></div>
            </div>
            <div class="menu" (click)="navegar('detalhe/condominio')">
                <div class="icone"><mat-icon fontIcon="map"></mat-icon></div>
                <div class="titulo"><h2>Condominio</h2></div>
            </div>
            @if(permissao()){
                <div class="menu"  (click)="navegar('detalhe/empresa')">
                    <div class="icone"><mat-icon fontIcon="factory"></mat-icon></div>
                    <div class="titulo"><h2>Empresa</h2></div>
                </div>
            }
            <div class="menu"  (click)="navegar('detalhe/proximidade')">
                <div class="icone"><mat-icon fontIcon="360"></mat-icon></div>
                <div class="titulo"><h2>Proximidade</h2></div>
            </div>
        </div>
        <div>
            <div class="menu" (click)="navegar('detalhe/negocio')">
                <div class="icone"><mat-icon fontIcon="handshake"></mat-icon></div>
                <div class="titulo"><h2>Negócio</h2></div>
            </div>
            <div class="menu"  (click)="navegar('detalhe/tipoImovel')">
                <div class="icone"><mat-icon fontIcon="app_registration"></mat-icon></div>
                <div  class="titulo"><h2>Tipo Imovel</h2></div>
            </div>
            <div class="menu" (click)="navegar('detalhe/situacao')">
                <div class="icone"><mat-icon fontIcon="engineering"></mat-icon></div>
                <div class="titulo"><h2>Situação</h2></div>
            </div>
            <div class="menu"  (click)="navegar('detalhe/localizacao')">
                <div class="icone"><mat-icon fontIcon="surfing"></mat-icon></div>
                <div class="titulo"><h2>Localização</h2></div>
            </div>
            <div class="menu"  (click)="navegar('detalhe/areaLazer')">
                <div class="icone"><mat-icon fontIcon="sports_volleyball"></mat-icon></div>
                <div class="titulo"><h2>Àrea Lazer</h2></div>
            </div>
        </div>
    </div>
</div>