#imagem-container{
    width: 100%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.alinhamento{
    display: flex;
    align-items: center;
}
.conteudo_card{
    display: flex;
    width: 90%;
    position: relative;
    margin: auto;
    cursor: pointer;
    .imagens img{
      display: flex;
      position: relative;
      z-index: 0;
      width: 70%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
      margin: 0px 100px 0px 100px;
    }
}

  #imagem-container .opacity {
    display: none;
  }

  .botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
  }

  .botoes-controle button.ativo {
    background: #ff0000;
    cursor: default;
  }
  .button_slide{
    width: 10px;
    height: 10px;
    background-color: #a7a7a7;
    border-radius: 50%;
  }
  .button_slide:hover{
    cursor: pointer;
  }
  .ativo{
    background-color:#09326e;
  }
.arrow-left,
.arrow-right {
  width: auto;
  height: auto;
  transform: translateY(-50%);
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
}

.arrow-left {
  left: 15px;
}

.arrow-right {
  right: 15px;
}
.informacoes{
    font-family: "Montserrat";
    background-color: #ffff;
    width: 380px;
    height: 95%;
    position: absolute;
    z-index: 2;
    right: 100px;
    bottom: 0px;
    box-shadow: rgba(115, 130, 151, 0.3) 0px 0px 10px 0px;
    .formatacao{
      margin: 25px;
      .lancamento{
        display: flex;
        justify-content: center;
        margin: auto;
        font-size: 20px;
        font-weight: bold;
        color: rgb(60, 72, 88);
      }
      .descricao{
          font-size: 1.5em;
          color: #3C4858;
          font-weight: 500;
          margin-bottom: 0px;
      }
      .bairro, .observacao{
          font-size: 14px;
      }
      .bairro{
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .valor{
          color: #0e2442;
          font-weight: 700;
          font-size: 25px;
          margin-bottom: 0px;
          margin-top: 0px;
      }
      .observacao{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        margin-top: 10px;
      }
      .detalhes_imoveis {
          display: flex;
          flex-direction: row;
          div{
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: #8E959F;
              .icones{
                display: flex;
                align-items: center;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 14px;
                mat-icon{
                  margin-right: 5px;
                }
              }
          }
      }
      .divider{
          border-top-width: 1px;
          border-color: #8E959F;
          margin: 10px 0px 10px 0px;
      }
      .topo{
        display: flex;
        .perfil{
            margin: 10px;
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            .imagemUsuario{
                width: 50px;
                height: 50px;
                border-radius: 100%;
                overflow: hidden;
            }
        }
        .informacoes_usuario{
            margin: 10px;
            .nome{
                width: 100%;
                font-size: 14px;
                color: rgb(60, 72, 88);
            }
            .creci{
                font-size: 14px;
                color: rgb(60, 72, 88);
            }
        }
    }
    .detalhes{
      width: 100%;
      display: flex;
      justify-content: center;
      justify-content: flex-end; 
      .detalhe{
        font-size: 14px;
        color: rgb(60, 72, 88);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      mat-icon{
        font-size: 14px;
        color: rgb(60, 72, 88);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

}
@media (max-width: 1249px) {
  .informações{
    width: 60%!important;
}
.imagens img{
  width: 80%!important;
  height: auto!important;
}
}

@media (max-width: 1150px ) {
  .conteudo{
      flex-wrap: wrap!important;;
      gap: 10px!important;;
  }
  #imagem-container .informacoes{
    width: 100%!important;
  }
  .imagens{
    margin: auto;
  }
  .imagens img{
    width: 100%!important;
    height: 100%!important;
  }
}
@media (max-width: 519px ) {
  .img1, .img2, .img3{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .img2{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
}
@media (max-width: 400px ) {
  #imagem-container{
    margin-top: 50px;
  }
  .lancamento{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .arrow-left, .arrow-right {
    display: none;
  }
}
