
<div id="imagem-container">
    <div class="alinhamento">
        <div class="arrow-left" (click)="navegarImagem('prev')">&#10094;</div>
        <div class="conteudo_card">
            @for(imovel of imovelCard; track imovel; let i = $index){
                <div (click)="detalhes(imovel.imvCodigo)">
                    <div class="imagens">
                        <img [class.img1]="i === 1" [class.img2]="i === 4" [class.img3]="i === 5"
                            [src]="mostraImagem(imovel.imgCodigo)"
                            width="100%" height="100%" [class.opacity]="i !== indexImagemAtiva"/>
                    </div>
                    <div class="informacoes" [class.opacity]="i !== indexImagemAtiva">
                        <div class="formatacao">
                            <h1 class="lancamento">{{imovel.stiDescricao}}</h1>
                            <h1 class="descricao">{{imovel.imvDescricao}}</h1>
                            <p class="bairro">{{imovel.endBairro}} - {{imovel.cidDescricao}}</p>
                            <p class="valor">{{imovel.imvValor | currency: 'BRL':'symbol':'1.2-2'}}</p>
                            <p class="observacao">{{imovel.imvObservacao}}</p>
                            <div class="detalhes_imoveis">
                                <div>
                                    @if(imovel.imvDormitorio != undefined){
                                        <p class="icones">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="hotel"></mat-icon>
                                            {{formataTextoDormitorio(imovel.imvDormitorio, imovel.imvSuite)}}
                                        </p>
                                    }
                                    @if(imovel.imvGaragem != undefined){
                                        <p class="icones">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_car"></mat-icon>
                                            {{formataTextoGaragem(imovel.imvGaragem)}}
                                        </p>
                                    }
                                    @if(imovel.imvAreaTotal != undefined){
                                        <p class="icones">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="crop_free"></mat-icon>
                                            {{imovel.imvAreaTotal}} m² (Àrea Total)
                                        </p>
                                    }
                                </div>
                            </div>
                            <mat-divider class="divider"></mat-divider>
                            <div class="topo_card">
                                <div class="perfil">
                                    <img class="imagemUsuario" [src]="mostraImagemUsuario(imovel.usrCodigo)">
                                </div>
                                <div class="informacoes_usuario">
                                    <div class="nome">{{imovel.usrNome}}</div>
                                    <div class="creci">CRECI - {{imovel.usrCreci}}</div>
                                </div>
                            </div>
                            <div class="detalhes">
                                <div class="detalhe">DETALHES</div>
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward_ios"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="arrow-right" (click)="navegarImagem('next')">&#10095;</div>
    </div>
    <div class="botoes-controle">
        @for(imagem of imovelCard; track imagem; let i = $index){
        <div mat-button class="button_slide"
            [class.ativo]="i === indexImagemAtiva"
            (click)="pararTimer(); ativarImagem(i)">
        </div>
    }

    </div>
</div>
