#imagem-container{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.alinhamento{
    display: flex;
    align-items: center;
}
.conteudo{
    display: flex;
    align-items: center;
    width: 100%;
    .imagens{
      display: flex;
    }
}
#imagem-container .imagens img {
    width: 70%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    margin: auto;
  }
  .img1{
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
  .img2{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
  }
  .img3{
    border-radius: 20%;
  }
  #imagem-container .informacoes{
    width: 50%;
    height: auto;
  }

  #imagem-container .opacity {
    display: none;
  }

  .botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
  }

  .botoes-controle button.ativo {
    background: #ff0000;
    cursor: default;
  }
  .button_slide{
    width: 10px;
    height: 10px;
    background-color: #a7a7a7;
    border-radius: 50%;
  }
  .button_slide:hover{
    cursor: pointer;
  }
  .ativo{
    background-color:#09326e;
  }
.arrow-left,
.arrow-right {
  width: auto;
  height: auto;
  transform: translateY(-50%);
  font-size: 30px;
  color: #9AA0A9;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}
.informacoes{
    font-family: "Montserrat";
    .lancamento{
        background-color: #4C2426;
        color: #CFE8E5;
        text-align: center;
        height: 40px;
        font-size: 1.5em;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .descricao{
        font-size: 1.5em;
        color: #3C4858;
        font-weight: 500;
    }
    .bairro, .observacao{
        color: #8E959F;
    }
    .valor{
        color: #B4985F;
        font-weight: 700;
        font-size: 25px;
    }
    .observacao{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detalhes_imoveis {
        display: flex;
        flex-direction: row;
        div{
            display: flex;
            flex-direction: column;
            width: 50%;
            color: #8E959F;
            font-size: 12px;
        }
    }
    .divider{
        border-top-width: 1px;
        border-color: #8E959F;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .detalhes, .comprar{
          width: 45%;
          border-radius: 3px;
          color: #DCE9F7;
        }
        .comprar{
            background-color: #4C2426;
        }
        .detalhes{
          background-color: #B4985F;
        }
    }

}
@media (max-width: 1249px) {
  .informações{
    width: 60%!important;
}
.imagens img{
  width: 80%!important;
  height: auto!important;
}
}

@media (max-width: 1150px ) {
  .conteudo{
      flex-wrap: wrap!important;;
      gap: 10px!important;;
  }
  #imagem-container .informacoes{
    width: 100%!important;
  }
  .imagens{
    margin: auto;
  }
  .imagens img{
    width: 100%!important;
    height: 100%!important;
  }
}
@media (max-width: 519px ) {
  .img1, .img2, .img3{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .img2{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
}
@media (max-width: 400px ) {
  #imagem-container{
    margin-top: 50px;
  }
  .lancamento{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .arrow-left, .arrow-right {
    display: none;
  }
}
